// Normalize Styles
@import 'node_modules/normalize.css/normalize';

// Import Modules

// Box sizing partial styles:
// Apply a natural box layout model to all elements
*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

@font-face {
  font-family: 'HelveticaNeue-bold';
  src: url('font/HelveticaNeue-bold.ttf') format('truetype');
}


body, html {
  background: #fff;
}

.main-container {
  text-align: center;
  max-width: 900px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 15vh;
}

h1 {
  font-family: HelveticaNeue-bold;
  font-size: 4rem;
  color: #242424;
  margin: 4.5rem 0;
}

.claim-button {
  font-family: HelveticaNeue-bold;
  font-size: 2rem;
  text-decoration: none;
  color: #fff;
  display: block;
  background: #242424;
  padding: 20px;
  height: 90px;
  line-height: 48px;
  border-radius: 45px;
  max-width: 50%;
  margin: 40px auto 0 auto;
  transition: all .2s ease;
  &:active {
    transition: all .2s ease;
    position: relative;
    top: 2px;
  }
}

.delay-1 {
    animation-delay: .1s;
}
.delay-2 {
    animation-delay: .2s;
}
.delay-3 {
    animation-delay: .25s;
}

@charset "UTF-8";

/*!
 * animate.css -http://daneden.me/animate
 * Version - 3.6.0
 * Licensed under the MIT license - http://opensource.org/licenses/MIT
 *
 * Copyright (c) 2018 Daniel Eden
 */

.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}


@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.fadeIn {
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
}

@-webkit-keyframes fadeInDown {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, -75%, 0);
    transform: translate3d(0, -75%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes fadeInDown {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, -75%, 0);
    transform: translate3d(0, -75%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

.fadeInDown {
  -webkit-animation-name: fadeInDown;
  animation-name: fadeInDown;
}

